# this project
build/
dominoes/
python/*.cpp
python/.*c
*.html

# Python
__pycache__/
*.py[cod]
*.egg
*.whl
.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/

#C/C++
*.d
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exe
*.out

#Visual Studio
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
Generated\ Files/
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.pch
*.pdb
*.idb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.sln
*.vcxproj
*.vcxproj.*

# vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*~

# other
*.pdf
*.ps
*.png
*.jpg
*.svg
tags
